.Button {
  width: 35%;
  padding: 12px 10px;
  background-color: rgb(121, 120, 126);
  color: white;
  border: none;
  border-radius: 6px;
  box-shadow: 9px 13px 13px -12px rgba(0, 0, 0, 0.42);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    background-color: rgb(93, 93, 94);
  }

  // firefox button text outline
  &::-moz-focus-inner {
    border: 0;
  }
}
