.Button {
  padding: 20px 50px;
  background-color: slateblue;
  color: white;
  border: none;
  border-radius: 6px;
  box-shadow: 9px 13px 13px -12px rgba(0, 0, 0, 0.42);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    background-color: rgb(67, 51, 170);
  }

  // firefox button text outline
  &::-moz-focus-inner {
    border: 0;
  }
}
